
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background-color: #f5f5f5;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.navbar a {
    text-decoration: none;
    color: #333;
    margin-left: 25px;
    font-weight: 500;
}

.navbar a: hover {
    color: green;
}
.tractor-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 30%;   /* important for 3 in a row */
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.tractor-container {
    display: flex;              /* makes items go horizontal */
    justify-content: space-between; /* space between them */
    gap: 20px;                  /* space between cards */
    flex-wrap: wrap;            /* allows responsiveness */
}

#home {
    text-align: center;
    padding: 40px 20px;
}

#home h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

#home h3 {
    color: #666;
    margin-bottom: 30px;
}





#home img {
    width: 100%;
    border-radius: 10px;
}

#home p {
    margin-top: 10px;
    font-weight: bold;
}


section:nth-of-type(2) {
    display: inline;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background: white;
    margin-top: 30px;
}

section:nth-of-type(2) h2 {
    margin-bottom: 15px;
}

section:nth-of-type(2) ul {
    list-style: none;
}

section:nth-of-type(2) li {
    margin-bottom: 10px;
    font-size: 16px;
}

/* FOOTER */
footer {
    background: #2f5d3a;
    color: white;
    padding: 30px;
    margin-top: 30px;
}

footer h2 {
    margin-top: 15px;
}

footer li {
    list-style: none;
    margin: 5px 0;
}

footer p {
    margin-top: 20px;
    text-align: center;
}
