.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.navbar a {
    text-decoration: none;
    color: #333;
    margin-left: 25px;
    font-weight: 500;
}

.navbar a: hover {
    color: green;
}
#home {
    text-align: center;
    padding: 40px 20px;
}

#home h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

#home h3 {
    color: #666;
    margin-bottom: 30px;
}





#home img {
    width: 100%;
    border-radius: 10px;
}

#home p {
    margin-top: 10px;
    font-weight: bold;
}
