.header {
  font-family: sans-serif, Arial,
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  
}
.navbar a{
  margin-left: 20px;
  text-decoration: none;
}
